extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
    link(rel='stylesheet', href="#{url('appearance/flexbox.less')}")

block js
    script(src="#{url('controllers/app.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-card")
    link(rel="import", href="/molecules/solitare-deck")
    link(rel="import", href="/molecules/solitare-card-dropzone")

block content
    .-fx.-rows.-alignC
        #canvas.-fx.-rows
            .-fx.-cols.-alignLR
                .-fx.-cols
                    solitare-card
                    solitare-card
                    solitare-card
                    solitare-card
                .-fx.-cols
                    solitare-card
                    solitare-card
            .-fx.-cols.-alignLR
                solitare-card
                solitare-card
                solitare-card
                solitare-card
                solitare-card
                solitare-card
                solitare-card
                solitare-card