extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
  
block js
    script(src="#{url('controllers/app.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-closed-deck")
    link(rel="import", href="/molecules/solitare-single-suit")

block content
    #firstRow
        #goalContainer
            solitare-single-suit
            solitare-single-suit
            solitare-single-suit
            solitare-single-suit
        solitare-closed-deck
