extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
    link(rel='stylesheet', href="#{url('appearance/flexbox.less')}")

block js
    script(src="#{url('controllers/app.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-card")
    link(rel="import", href="/molecules/solitare-deck")
    link(rel="import", href="/molecules/solitare-card-dropzone")

block content
    .-fx
        solitare-deck(modifiers='{"dy":0}')
            solitare-card-dropzone
                solitare-card(show="true")
        solitare-deck#allowSameColor(debug="true")
            solitare-card-dropzone
                solitare-card(show="true")
                    solitare-card(show="true")
                        solitare-card(show="true")