extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
    link(rel='stylesheet', href="#{url('appearance/flexbox.less')}")

block js
    script(src="#{url('controllers/app.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-card")
    link(rel="import", href="/molecules/solitare-card-dropzone")

block content
    .-fx
        solitare-card-dropzone
        solitare-card-dropzone(debug="true")
        solitare-card(show="true", style="left:20px")
            solitare-card(show="true")
                solitare-card(show="true")