extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
    link(rel='stylesheet', href="#{url('appearance/flexbox.less')}")
  
block js
    script(src="#{url('controllers/test.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-alternate-stack")

block content
