extends layout

block css
    style.
        :host {
            display: block;
            width: 73px;
            height: 98px;
            background-image: url('#{url("images/card-back-blue.png")}');
            background-position: 0 0;
            background-size: 100% 100%;
        }
        :host > ::content > * {
            position: relative;
            left: var(--dx);
            top: var(--dy);
        }

block js
    script.
        function images(file) {
            return "url(#{url('images/')}" + file + ")"
        }
    script(src="#{url('controllers/script.coffee')}")

block molecules

block content
    content