extends layout

block css
    style.
        #stack {
            display: flex;
            flex-direction: column;
        }
        #stack solitare-card[show='true'] {
            height: 20px;
        }
        #stack solitare-card[show='false'] {
            height: 5px;
        }
block js
    script(src="#{url('controllers/script.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-card")

block content
    #stack
        solitare-card(suit="{{suit}}", value="{{value}}", show="{{show}}", draggable="false")