extends layout

block css
    style.
        :host {
            display: flex;
        }
        #closedCards {
            cursor: pointer;
        }

block js
    script(src="#{url('controllers/script.coffee')}")

block molecules
    link(rel="import", href="/molecules/solitare-deck-holder")
    link(rel="import", href="/molecules/solitare-card")

block content
    solitare-deck-holder#openedCards
    solitare-deck-holder#closedCards