body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e8e8e8;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.aspectRatio(@x, @y) {
  width: 100vw;
  height: @y * 100vw / @x;
  max-width: @x / @y * 100vh;
  max-height: 100vh;
}
#canvas {
    .aspectRatio(3, 2);
}