body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e8e8e8;
}

a {
  color: #00B7FF;
}

#firstRow {
  width: 700px;
  margin-top: 20px;
}

#secondRow {
  width: 700px;
  margin-top: 20px;
}

solitare-card, solitare-card-dropzone {
    width: 150px;
    height: 200px;
}