body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e8e8e8;
}

a {
  color: #00B7FF;
}

#firstRow {
  display: flex;
  justify-content: space-between;
  #goalContainer {
    display: flex;
  }
}